
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>{{message}}</p>
    <p> <a href="https://github.com/alekh-1/node-web-sserver"> node-web-server</a> </p>
    {{> footer}}

  </body>
</html>
